.table {
  padding: 2rem;
}
.table_title {
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
}
.table_header {
  text-align: left;
  font-size: larger;
  font-weight: bolder;
  border-bottom: solid black 2px;
}
.table_row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: solid black 1px;
}

.table_column {
  padding: 1rem;
  border-right: solid black 1px;
  width: 100%;
}
.table_column:last-of-type {
  padding: 1rem;
  border: none;
  width: 100%;
}

.first_child .column_item {
  padding-left: 2rem;
}

.second_child .column_item {
  padding-left: 4rem;
}

.table_footer {
  font-weight: bolder;
  border-top: solid black 2px;
}

span.bold {
  font-size: larger;
  font-weight: 900;
}
